<div class="center">
    <h1>Carbon Calculator</h1>
    
    <form action="result">
        <input type="number" name="number1" placeholder="Enter electric bill">
        <br>
        <br> 
        <input type="number" name="number2" placeholder="Enter gas bill">
        <br>
        <br> 
        <input type="number" name="number3" placeholder="Enter oil bill">
        <br>
        <br> 
        <input type="text" name="carmake" placeholder="Enter full car make (Toyota)">
        <input type="text" name="carmodel" placeholder="Enter full car model (Camry)">
        <br>
        <br> 
        <input type="number" name="number4" placeholder="Enter gas car mileage">
        <br>
        <br> 
        <input type="number" name="number5" placeholder="Enter number of flights">
        <br>
        <br>
        <button type="submit" name="calculate">Add</button>  
    </form>
</div>
    
<style>
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
    }
</style>